

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 84px;
}
.navbar {
	background:#7495A6!important;
	border: 0px;
	padding:1em;
}
.navbar-header img {
	width:200px;
}
#stall-one {
	height: 50px;
	background: #ff0000;
}
#stall-two {
	height: 50px;
	background: #ccc;
}
#stall-three {
	height: 50px;

}

.stall {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	border-radius: 5px;
	position: relative;
}

.stall-sm {
	height: 100px;
	width: 50%;
	float:right;
	margin-left:50%;
	
}
.stall-lg{
	height: 150px;
	
}


.status-occupied {
/* #CC3333 */
background-color:#ff9900 ;
	
}
.status-occupied:after {
	content: 'occupied';
	position: absolute;
	right:0;
	left: 0;
	text-align: center;
	margin-top: 1px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-top: 18px;
	
}
.status-transition {
/* #FFCC00  */
background-color:#79a6d2;
}

.status-transition:after {
	content: 'In Transition';
	position: absolute;
	right:0;
	left: 0;
	text-align: center;
	margin-top: 1px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-top: 18px;
	
}


.status-open {
/* #33CC33 */
background-color:#ecf2f9;
}

.status-open:after {
	content: 'OPEN!';
	position: absolute;
	right:0;
	left: 0;
	text-align: center;
	margin-top: 1px;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-top: 18px;
	
}








