@model IEnumerable<OpenThrone.Web.Models.Stall>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            <ul>
                @foreach (var stall in Model)
                {
                    <li>Stall @stall.Id is @(stall.Available ? "available" : "unavailable")</li>
                }
            </ul>
        </div>
    </body>
</html>